{% extends 'restbook/main.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{ title.title }}</title>
</head>
{% block content %}
{% for rest in rest %}
    {% if rest.images %}
     <div class="full-screen-portfolio" id="portfolio">
        <div class="container-fluid">
            <div class="col-md-4"">
                <div class="portfolio-item">
                    <a href="{{ rest.images.url }}" data-lightbox="image"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">

                                <h1><em>{{ rest.restaurant_name }}</em></h1>
                                <p>{{ rest.cuisine }}</p>
                                <p>{{ rest.notes }}</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{{ rest.images.url }}">
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
     </div>

       {% endif %}
{% endfor %}


{% endblock %}

