{% extends 'restbook/main.html' %}
{% load static %}

{% block content %}
{% for rest in rest %}
        {% if rest.images %}
        <a href="{% url 'visit' %}" class="post">
            <div class="info">
                <h1><em>{{ rest.restaurant_name }}</em></h1>
                <p>{{ rest.cuisine }}</p>
                <p>{{ rest.notes }}</p>
                <p><{{ rest.user }}</p>
                <img class="image" src="{{ rest.images.url }}">
                <p>{{ rest.user }}</p>
            </div>

         </a>
        {% endif %}

{% endfor %}
{% endblock %}