
.image {
    width: 350px;
}

.post {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.post-home {
    display: inline-block;
    margin-top: 40px;
}
.info {
    width: 350px;
    height: 450px;
    margin: 10px;

    border: solid;

}

