
body {
    background-color: white;
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;

}

.box {

    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}
.header {
    margin: 0;
    width: 100%;
    background-color: grey;
}
.menu {
    font-size: 30px;
    margin-left: 10px;



}
.price  {
    margin-left: 80%;
}
.home-card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 30px;
  margin: 30px;
  text-align: center;
}
.card-note {
    position: relative;
    margin: 50px;
}
.leave_comment {
    margin: 30px;
    border: solid;
    padding: 5px;
    border-radius: 10px;
    background-color: #9f01ea;
    transition: ease-in-out 0.5s;
}
.leave_comment:hover {
    background-color: hotpink;
}